    
    .quote {
      font-family: Georgia, serif;
      font-size: 14px;
      font-style: italic;
      background-color: rgba(45, 62, 80,0.2);
      padding: 10px;
      margin-top:0.2rem;
      margin-bottom:0.2rem;
    }
    
    .editor-submit-btn{
      width:25vw;
      height:1rem;
      color:#2d3e50;
      font-size:0.5rem;
      border-style:none;
      background-color:rgb(50, 190, 143);
    }

    .editor-quotes{
      padding-left: 52px;
    }

    .editor-table{
      align-content: center;
    }

    .editor-table {
      width: 100%;
      margin-bottom: 1rem;
      color: #212529;
      border: 1px solid #dee2e6;
      border-collapse: collapse;
    }

    .editor-table-head{
      border-bottom: 2px solid #dee2e6;
    }

    .editor-table-head td, .editor-table-head th {
      border-bottom-width: 2px;
    }
    .editor-table-head th {
      vertical-align: bottom;
      border-bottom: 2px solid #dee2e6;
      border-bottom-width: 2px;
    }
    .editor-table td, .editor-table th {
      border: 1px solid #dee2e6;
        border-bottom-color: rgb(222, 226, 230);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }


    .editor-head1{
      text-align:justify;
      font-size:unset;
      text-align: center;
      text-decoration-color: rgb(17, 24, 39);
      text-decoration-line: none;
      text-decoration-style: solid;
      text-decoration-thickness: auto;
      margin:0.6rem 0 70px 0;
      color:#2d3e50;
      font-family:serif;
      font-size:0.96rem;
      line-height:1.3;
      overflow-wrap:break-word;
    }

    .editor-head2{
      text-align:justify;
      font-size:unset;
      font-size:0.72rem;
      margin:0.6rem 0 0.6rem 0;
      color:#2d3e50;
      font-family:manrope;
      line-height:0.8;
      overflow-wrap:break-word;
    }

.editor-head3{
    text-align:justify;
    font-size:unset;
    font-size:0.6rem;
    margin:0.6rem 0 0.6rem 0;
    color:#2d3e50;
    overflow-wrap:break-word;
    font-weight: 600;
}
    .blockquotes-paragraph {
      display:inline;
      margin-bottom:0;
      color:blue;
      text-align: center;
    }
    
    ::marker{
        margin-right:1.5vw;
        color: #c3baaa;
    }

    #editor-link{
        color: #111;
        -webkit-text-decoration: underline;
        text-decoration: underline;
        font-weight: 600;
        overflow-wrap: break-word;
        white-space: nowrap;
        font-family: 'serif';
        color: rgb(45, 62, 80);
        font-style: italic;
    }

    .editor-paragraph{
        text-align:justify;
        width:100%;
        font-family:serif;
        color: #111111;
        margin: 0;
        font-size:0.46rem;
        margin-bottom: 0.5rem;
        overflow-wrap:break-word;
        line-height:1.8;
    }

    .inline-pre{
        display:inline;
        background-color:rgb(219, 224, 235);
        padding: 3px 10px 3px 10px;
        line-height: 1.8;
        color: rgb(45, 62, 80);
    }

    .real-code{
      overflow-wrap: break-word;
      text-shadow: none;
      background: none;
      font-family: monospace;
      padding: 5px;
      line-height: 1.8;
      background-color: rgb(45, 56, 110);
    }

    #editor-pre{
      overflow-wrap: break-word;
      padding-bottom: 15px;
    }

    .editor-ol,.editor-ul{
      list-style-position: inside;
      margin:0 auto;
      padding:0;
      width:100%;
      font-size:0.55rem;
      margin-top:0.7rem;
      margin-bottom:0.7rem;
    }

    .editor-ol li, .editor-ul li{
      margin: 0 auto;
      color:red;
      font-size:0.47rem;
      font-family:inter;
      line-height:1.8;
      padding-left: 1.28571429em;
      text-indent: -1.28571429em;
      margin-bottom:0.4rem;
      tab-size:3
    }



    @media screen and (max-width:1000px){
      .editor-paragraph{
        font-size: 0.9rem;
        margin-bottom: 1rem;
        line-height: 2;
      }.editor-head1{
        margin:1rem 0 70px 0;
        font-size: 1.9rem;
        line-height: 1.;
      }.editor-head2{
        font-size: 1.6rem;
        line-height: 1.5;
      }.editor-head3{
        font-size: 1.4rem;
        margin:1rem 0 1rem 0;
      }.real-code{
        line-height: 2;
        font-size: .84rem;
      }.inline-pre{
        line-height: 3;
      }
    }