.editor-editor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr;
    margin: 0 auto;
}

.editor-editorActive{
    display: grid;
    grid-template-columns: 3fr 2fr;
    left: 0;
    position:relative;
    grid-template-rows: 1fr;
    min-width: 30vw;
}

.editor-editorDiv{
    width: 60vw;
}

.editor-sideBarDiv{
    width: 35vw;
    display: none;
}