#editor-container{
    display: grid;
    grid-template-columns: 65vw auto;
    overflow: scroll;
}

.main{
    position: fixed;
}

.editor-editor{
    position: relative;
    min-width: 35vw;
    width:60vw;
    max-width: 65vw;
    left: 20vw;
    margin: 0 auto;
}

.editor-editorActive{
    left: 0;
    width:65vw;
    min-width: 35vw;
    max-width: 65vw;
}

.editor-previewDiv{
    grid-column-start: 2;
    display: none;
}

@media screen and (max-width:550px) {
    .editor-editor{
        min-width: 80vw;
        width:80vw;
        max-width: 80vw;
        left: 10vw;
    }
    
    .editor-editorActive{
        min-width: 80vw;
        width:80vw;
        max-width: 80vw;
        left: 10vw;
    }
}