
.editor-nav{
    height:1.8rem;
    width:100vw;
    min-width: 35vw;
    background-color: white;
    font-family: monospace;
    position:fixed;
    font-size: 0.2rem;
    background-color: #2d386e;
    border-bottom: 0.5px solid #2d386e ;
    color: #2d386e;
    z-index:2;
}

.editor-navbarLeft{
    display: inline;
    float: left;
    margin-left: 3.3vw;
}

#editor-navbarCompanyLogo{
    position: absolute;
    top:0.9rem;
    left:5.4vw;
    height:1.2rem;
    line-height: 1.6rem;
    width:2rem;
    transform: translate(-50%, -50%);
    color:white;
}

#editor-home{
    display: inline;
    margin-left: 8.8vw;
    line-height: 1.8rem;
    font-size: 0.5rem;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.editor-navbarRight{
    display: inline;
    float: right;
    margin-right: 1.3vw;
}

#editor-cog{
    display: inline;
    color: white;
    background-color: inherit;
    font-size: 0.7rem;
    border: none;
    width:1rem;
    line-height: 1.8rem;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    .editor-nav{
        height:3rem;
        font-size: 0.4rem;
    }
    #editor-navbarCompanyLogo{
        left:10vw;
        top:1.5rem;
        height:2.2rem;
        line-height: 2.8rem;
        width:4rem;
    }
    #editor-home{
        line-height: 3rem;
        font-size: 1rem;
        margin-left: 15vw;
    }
    #editor-cog{
        font-size: 1.4rem;
        border: none;
        width:2rem;
        line-height: 3rem;
    }
    .editor-navbarRight{
        margin-right: 5vw;
    }
}

@media screen and (max-width:550px) {
    .editor-nav{
        height:4rem;
        font-size: 0.8rem;
    }
    #editor-navbarCompanyLogo{
        left:15vw;
        top:2.5rem;
        height:3rem;
        line-height: 3.8rem;
        width:6rem;
    }
    #editor-home{
        line-height: 4rem;
        font-size: 1.5rem;
        margin-left: 30vw;
    }
    #editor-cog{
        font-size: 2.8rem;
        border: none;
        width:4rem;
        line-height: 4rem;
    }
    .editor-navbarRight{
        margin-right: 7vw;
    }
}