.editor-select{
    background-color:var(--navy);
    height:1.5rem;
    padding:0.25rem 0 0.25rem 0;
    box-sizing: border-box;
}

.editor-selector{
    display: flex;
    height: 1rem;
    font-size: 0.6rem;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    float: right;
}

.editor-selector button{
    color: white;
    font-size:0.6rem;
    background-color: inherit;
    border: none;
    width:0.8rem;
    text-align: center;
}

.editor-selector button:hover{
    background-color: white;
    color:var(--lightest-navy);
    border-radius: 0.25rem;
    
}

@media screen and (max-width:900px) {
    .editor-select{
        height:3rem;
        padding:0.4rem 0 0.4rem 0;
    }
    .editor-selector{
        height: 1.8rem;
        font-size: 0.2rem;
    }
    .editor-selector button{ 
        font-size:1.5rem;
        width:1.4rem;   
    }
}

@media screen and (max-width:550px) {
    .editor-select{
        height:3.4rem;
        padding:0.85rem 0 0.85rem 0;
    }
    .editor-selector{
        height: 2rem;
        font-size: 0.25rem;
    }
    .editor-selector button{ 
        font-size:1.7rem;
        width:1.4rem;   
    }
}