.editor-select{
    background-color:var(--navy);
    height:1.5rem;
    padding:0.25rem 0 0.25rem 0;
    box-sizing: border-box;
}

.editor-selector{
    display: flex;
    height: 1rem;
    font-size: 0.6rem;
    width: 75%;
    margin: auto;
    justify-content: space-evenly;
    float: right;
}

.editor-selector button{
    color: white;
    font-size:0.6rem;
    background-color: inherit;
    border: none;
    width:0.8rem;
    text-align: center;
}

.editor-selector button:hover{
    background-color: white;
    color:var(--lightest-navy);
    border-radius: 0.25rem;
    
}

.editor-showpreview-div{
    display: flex;
    height:1rem;
    width:25%;
    margin-bottom: 10px;
    margin: auto;
    justify-content:space-evenly;
}

.editor-showpreview{
    display: block;
    border-style: none;
    margin: 0 auto;
    color:white;
    font-size:0.6rem;
    background-color: inherit;
    border: none;
    width: 1rem;
    text-align: center;
}

.editor-showpreview-div button:hover{
    background-color:white;
    color:var(--lightest-navy);
    border-radius: 0.25rem;
}

@media screen and (max-width:1000px) {
    .editor-select{
        height:2.5rem;
        padding:0.4rem 0 0.4rem 0;
    }
    .editor-selector{
        height: 1.8rem;
        font-size: 0.1rem;
        width: 75%;
    }
    .editor-selector button{ 
        font-size:1rem;
        width:1.4rem;   
    }.editor-showpreview-div{
        height:1.8rem;
        width:25%;
    }.editor-showpreview{
        font-size:1rem;
        width: 1.7rem;
    }
}