#showpreview{
    display: block;
    width:40%;
    height:100%;
    color:#2d3e50;
    margin: 0 0 0 0;
    box-sizing: border-box;
    font-size:.30rem;
    float:right;
}

.showpreview-div{
    margin: 0 auto;
    width:60vw;
    height:0.7rem;
    margin-bottom: 10px;
}