.select{
    width: 60vw;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgba(41,62,75,0.4), rgb(41, 62, 75));
}

.selector{
    display: flex;
    height: 1.2rem;
    font-size: 0.5rem;
    box-sizing: border-box;
    width: 75%;
    margin: 0 auto;
    justify-content: space-evenly;
    float: right;
}

.selector span{
    line-height: 1.2rem;
    color: white;
}

.showpreview-div{
    display: flex;
    height:1.2rem;
    width:25%;
    margin-bottom: 10px;
    justify-content:space-evenly;
}

.showpreview{
    display: block;
    border-style: none;
    color:white;
    padding: 0 auto;
    font-size:0.5rem;
    line-height: 1.2rem;
}