
.editor-sideBar-setting-div{
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.2rem;
    border-color :rgb(195, 197, 197);
    margin-bottom:0.45rem ;
    background-color: white;
}

#editor-d{
    width: 100%;
    margin-bottom:0.4rem ;
}

#editor-d h2{
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 0.55rem;
    color: #161e42;
}

.editor-sideBar-setting-div h3{
    width: 95%;
    margin: 0 auto;
    font-size: 0.52rem;
    margin-top: 20px;
    margin-bottom:.25rem;
    color: var(--lightest-navy);
}
#editor-d p{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 0.52rem;
    color: var(--lightest-navy);
    font-family:'Times New Roman', Times, serif;
}
.editor-sideBar-setting-div p{
    width: 95%;
    margin: 0 auto;
    font-size: 0.45rem;
    color: var(--lightest-navy);
    font-family:'Times New Roman', Times, serif;
}

.editor-sideBar-setting-div textarea {
    width: 95%;
    box-sizing: border-box;
    display: block;
    font-size: 0.38rem;
    height: 1.5rem;
    line-height: 1.5rem;
    margin:0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--lightest-navy);
    border-radius: 0.24rem;
    resize: none;
    color: var(--lightest-navy);
}

.editor-sideBar-setting-div textarea:focus{
    border-color: var(--navy);
}

#editor-input-seo-title{
    width: 100%;
    margin: 0 auto;
    font-size: 0.4rem;
    height: 1rem;
    border-style: solid;
    border-color: var(--lightest-navy);
    color: white;
    border-width: 1px;
    border-radius: 0.2rem;
    margin-bottom:0.4rem ;
    background-color: var(--lightest-navy);
    box-shadow: 0 0.18rem #999;
}

#editor-input-seo-title:active{

  box-shadow: 0 0.1rem #666;
  transform: translateY(4px);
}

#editor-check {
    margin-bottom: 20px;
}

@media screen and (max-width:900px) {
    #editor-d h2{
        font-size: 1rem;
    }
    .editor-sideBar-setting-div h3{
        font-size: 0.90rem;
    }
    #editor-d p{
        font-size: 0.9rem;
    }
.editor-sideBar-setting-div p{
    font-size: 0.8rem;
}
.editor-sideBar-setting-div textarea {
    font-size: 0.7rem;
    height: 2.4rem;
    line-height: 2.4rem;
    border-radius: 0.5rem;
}
#editor-input-seo-title{
    font-size: 0.8rem;
    height: 1.5rem;
}
}

@media screen and (max-width:600px) {
    #editor-d h2{
        font-size: 1.3rem;
    }
    .editor-sideBar-setting-div h3{
        font-size: 1.2rem;
    }
    #editor-d p{
        font-size: 1.2rem;
    }
.editor-sideBar-setting-div p{
    font-size: 1.1rem;
}
.editor-sideBar-setting-div textarea {
    font-size: 0.9rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 0.7rem;
}
#editor-input-seo-title{
    font-size: 1.1rem;
    height: 2rem;
}
}