.editor-sideBar{
    width: 35vw;
    z-index: 3;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: rgb(195, 197, 197);
    background-color: rgb(248, 248, 248);
}

#editor-sideBar-button{
    font-size: 0.35rem;
    font-weight: 600;
    border: none;
    margin-left: 0.35rem;
    padding:0.15rem;
    color: rgb(45,56,110);
    background-color:rgb(248, 248, 248);
    cursor: pointer;
}

#editor-sideBar-button:hover{
    background-color: rgb(195, 197, 197);
}

#editor-sideBar-button span{
    padding-left: 5px;
    font-size: 0.35rem;
}

#editor-sideBar-content{
    margin: 0.5rem;
    margin-top: 0.25rem;
    border-top-style:solid ;
    border-top-width: 1px ;
    border-top-color: rgb(195, 197, 197);
}

.editor-sideBar-content-div{
    border-style: solid;
    border-width: 1px;
    border-radius: 0.15rem;
    border-color :rgb(195, 197, 197);
    margin-bottom:0.35rem ;
    background-color: white;
}

#editor-d{
    margin-bottom:0.35rem ;
}

#editor-d h2{
    font-size: 0.42rem;
    padding: 0.28rem 0.28rem 0 0.28rem;
    color: #161e42;
}

.editor-sideBar-content-div h3{
    font-size: 0.35rem;
    padding: 0.28rem 0.28rem 0 0.28rem;
    color: #2d386e;
}
#editor-d p{
    font-size: 0.39rem;
    padding: 0.28rem;
    color: rgba(45,56,110,0.7);
    font-family:'Times New Roman', Times, serif;
}
.editor-sideBar-content-div p{
    font-size: 0.32rem;
    padding: 0.28rem;
    color: rgba(45,56,110,0.7);
    font-family:'Times New Roman', Times, serif;
}

.editor-sideBar-content-div textarea{
    width: 28vw;
    font-size: 0.32rem;
    height: 0.6rem;
    line-height: 0.6rem;
    padding: 0.30rem;
    margin: 0 0.25rem 0.25rem 0.25rem;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(45,56,110,0.4);
    border-radius: 8px;
    resize: vertical;
    color: rgba(45,56,110,0.7);
}

#editor-textarea-seo-desc{
    height: 1.2rem;
    line-height: 1.2rem;
}

.editor-sideBar-content-div textarea:focus{
    border-color: rgba(45,56,110,1);
}