#submitBlog{
    display: block;
    width:100%;
    height:100%;
    color:rgb(45,56,110);
    border: none;
    border: 1px solid rgb(195, 197, 197);
    margin: 0 0 0 0;
    box-sizing: border-box;
    font-size:.40rem;
    font-weight: 600;
}

#submitBlog:active{
    border: 1px solid rgb(48, 49, 49);
    color: rgb(13, 26, 87);
    background-color:rgba(208, 211, 226, 0.5);
}

.submitDiv{
    height:1rem;
    margin-bottom: 10px;
}