#submitBlog{
    width:60vw;
    height:1rem;
    margin: 0 auto;
    margin-top:5px;
    text-align: center;
    font-size: 0.45rem;
    font-weight: 600;
    color:#2d3e50;
}

.submitDiv{
    width:60vw;
    height:1rem;
    margin: 0 auto;
}