.editor-cover-image{
    font-family: monospace;
    margin-top:2.8rem;
}

.editor-cover-image-input{
    width: 100%;
    height: 1.5rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom:1px solid rgb(195, 197, 197);
    box-sizing: content-box;
    margin-bottom: 20px;
    color: black;
    text-align: center;
    font-size: 0.5rem;
    background-color: rgb(248, 248, 248);
    font-family: monospace;
}

.editor-cover-image-input::placeholder{
    color: black;
    font-size: 0.5rem;
}


@media screen and (max-width:1000px) {
    .editor-cover-image{
        margin-top:4.4rem;
    }.editor-cover-image-input{
        height:2.6rem;
        font-size: 0.8rem;
    }
    .editor-cover-image-input::placeholder{
        font-size: 0.8rem;
    }
}

@media screen and (max-width:550px) {
    .editor-cover-image{
        margin-top:8rem;
    }.editor-cover-image-input{
        height:3rem;
        font-size: 1rem;
    }
    .editor-cover-image-input::placeholder{
        font-size: 1rem;
    }
}